<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- VS 2013 -->
    <add key="repositoryPath" value="(Vendor)\NuGet\" />
  </config>
  <packageSources>
    <add key="KornSW_Gallery" value="https://tobiaskorn.pkgs.visualstudio.com/_packaging/KornSW_Gallery/nuget/v3/index.json" />
  </packageSources>
</configuration>